/* 05. Container CSS=========*/
.container {
	--gap: 2rem;
	place-items: center;
	padding-inline: 1.5rem;
	display: grid;
	gap: var(--gap, 1rem);
	grid-template-columns: 1fr;
	grid-template-areas:
		"title"
		"img"
		"tab"
		"content";
}

/* Home page layout */
.home__container {
	grid-template-areas:
		"home-content"
		"home-btn";
}

/* Destination page layout */
.destination__container {
	grid-template-areas:
		"title"
		"img"
		"tab"
		"text-content";
}

/* Responsive Query */
@media (width >= 48em) {
	.container {
		padding-inline: 2.5rem;
	}
}

@media (width >= 64em) {
	.container {
		padding-inline: 0;
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 33.75rem)) minmax(2rem, 1fr);
		place-items: start;
	}

	/* Home page layout */
	.home__container {
		grid-template-areas: " . home-content home-btn . ";
		min-block-size: 100%;
		padding-block-end: min(8rem, 10vh);
		align-items: end;
	}
	.home__content {
		grid-area: home-content;
	}
	.home__btn {
		grid-area: home-btn;
		justify-self: center;
	}
	.home__container .home__btn {
		padding-block-end: 2.4rem;
	}

	/* Destination page layout */
	.destination__container {
		grid-template-areas:
			" . title title . "
			" . img tab . "
			" . img text-content . ";
	}
	.destination__title {
		justify-self: start;
		grid-area: title;
	}
	.destination__img {
		grid-area: img;
	}
	.destination__tabs {
		grid-area: tab;
	}
	.destination__block {
		grid-area: text-content;
	}
}
