/* Tab List Css */
.tab-list {
	/* margin-block-end: 3.125rem; */
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.tab-list li a {
	--border-clr-opacity: 0;
	padding-block-end: 0.8125rem;
	transition: border-color 500ms ease-in-out, color 500ms ease-in-out;
	border-bottom: 0.1875rem solid hsl(var(--clr-white) / var(--border-clr-opacity));
	font-size: 1rem;
	font-family: var(--ff-barlow-cond);
	color: hsl(var(--clr-blue-light));
	text-transform: uppercase;
	letter-spacing: 0.125rem;
}
.tab-list li a.active {
	--border-clr-opacity: 1;
}
.tab-list li a.active,
.tab-list li a:hover {
	color: hsl(var(--clr-white));
}
.tab-list li a:hover {
	--border-clr-opacity: 0.5;
}

/* Desktop 1024px */
@media (width >= 64em) {
	.tab-list {
		/* margin-block-end: 4.375rem; */
		justify-content: start;
	}
}
