/* 02. Custom properties=========*/
:root {
	--clr-blue-dark: 230 35% 7%;
	--clr-blue-light: 231 77% 90%;
	--clr-white: 0 0% 100%;
	--ff-bellefair: "Bellefair", serif;
	--ff-barlow: "Barlow", sans-serif;
	--ff-barlow-cond: "Barlow Condensed", sans-serif;
	--fw-regular: 400;
	--fw-bold: 700;
}
