/* Home Page=========*/
.home {
	background: url("../../img/home/background-home-mobile.jpg") no-repeat center / cover;
}
.home__title {
	font-size: 1rem;
	font-family: var(--ff-barlow-cond);
	font-weight: var(--fw-regular);
	color: hsl(var(--clr-blue-light));
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

@media (width >= 40em) {
	.home {
		background: url("../../img/home/background-home-tablet.jpg") no-repeat center / cover;
	}
}

@media (width >= 48em) {
	.section__content {
		max-width: 512px;
	}
}

@media (width >= 64em) {
	.home {
		background: url("../../img/home/background-home-desktop.jpg") no-repeat center / cover;
	}
	.home__title {
		font-size: 1.75rem;
	}
	.title-1 {
		font-size: 9rem;
	}
	.home__title,
	.section__content {
		text-align: left;
	}
}
