/* Technology Page */
.technology {
	background: url("../../img/technology/background-technology-mobile.jpg") no-repeat center / cover;
}

/* for layout purpos 640px */
@media (width >= 40em) {
	.technology {
		background: url("../../img/technology/background-technology-tablet.jpg") no-repeat center / cover;
	}
}

/* Desktop 1024px */
@media (width >= 64em) {
	.technology {
		background: url("../../img/technology/background-technology-desktop.jpg") no-repeat center / cover;
	}
}
